# Microsoft Azure ARM Credentials
AZURE_TENANT_ID="your-azure-tenant-id"
AZURE_CLIENT_ID="your-azure-client-id"
AZURE_CLIENT_SECRET="your-azure-client-secret"
AZURE_SUBSCRIPTION_ID="your-azure-subscription-id"

# Amazon Web Services (AWS) Boto3 Credentials
AWS_ACCESS_KEY_ID="your-aws-access-key-id"
AWS_SECRET_ACCESS_KEY="your-aws-secret-access-key"
AWS_DEFAULT_REGION="ap-south-1"

# Ganache Blockchain Node & Smart Contract Anchor
GANACHE_RPC_URL="http://127.0.0.1:7545"
CONTRACT_ADDRESS="0x8B757aD9A22d8C7B07e05C3Bf3B73738B1e"
WALLET_PRIVATE_KEY="your-ganache-account-private-key"